    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->

    <div class="row">
      <ul class="inline-list social-icons"style="padding:25px">
        <!--<li><img src="{{ site.urlimg }}/logos/Logo_Gratet1.jpg" alt="100" width="150" max-height="44"></li>
        <li><img src="{{ site.urlimg }}/logos/logo_furv.png" alt="100" width="150" max-height="44"></li>
        <li><img src="{{ site.urlimg }}/logos/logo_redleonardo.png" alt="100" width="150" max-height="44"></li>
        <li><img src="{{ site.urlimg }}/logos/logo_fbbva.png" alt="100" width="150" max-height="44"></li>-->
        <li><img src="{{ site.urlimg }}/logos/logos_ciudades_sostenibles.png" alt="100" width="800" max-height="44"></li>
      </ul>
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="medium-12 columns text-center">
            <p class="shadow-black">
              Este proyecto tiene como objetivo cuantificar y evaluar en qué medida las grandes ciudades españolas cuentan con diseños urbanos y sistemas de movilidad sostenibles y saludables. El proyecto se ha financiado mediante una Beca Leonardo a
                Investigadores y Creadores Culturales 2022 de la Fundación BBVA, otorgada al Dr. Xavier Delclòs Alió (Departamento de Geografía, URV). La Fundación no se responsabiliza de las opiniones, comentarios y contenidos incluidos en el proyecto,
                los cuales son total y absoluta responsabilidad de sus autores.
            </p>
          </div><!-- /.medium-12.columns -->
        </div><!-- /.row -->
      </div><!-- /#footer -->
    </footer>

      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
